<!DOCTYPE html>
<html>
<head>
    <title>Get Word For Number</title>
</head>
{% raw %}
<body ng-app="number-converter-app">
    <div ng-controller="numberConverterCtrl">
        <input type="text" ng-model="number.number" />  
        <input type="button" ng-click="getWord()" value="Get Word" />
        <p ng-show="number.show">{{ number.word }}</p>
        <p ng-show="number.error.show">{{ number.error.message }} </p>
    </div>
{% endraw %}
 <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script> 
 <script>
        angular.module('number-converter-app', [])
            .controller('numberConverterCtrl', numberConverterCtrl);
    
        function numberConverterCtrl($scope, $http) {
                $scope.number = {number: 0, show: false,
                    error: {show: false, message:''}};

                $scope.getWord = function() {
                    $http({
                        method: 'GET',
                        url: '/' + $scope.number.number
                    }).then(function successCallback(response) {
                            if (response.data.success == 'true') {
                                $scope.number.word = response.data.data;
                                $scope.number.error.show = false;
                                $scope.number.show = true;
                            } else {
                                $scope.number.error.message = response.data.error;
                                $scope.number.show = false;
                                $scope.number.error.show = true;
                            }
                      });
                };
        }
    </script>
</body>
</html>
